<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon svgIcon="logo"></mat-icon
    ><span class="padding-left-10px">Simple Todo App</span>
    <span class="spacer"></span>
    <button
      mat-icon-button
      aria-label="About this app"
      (click)="openAboutDialog()"
    >
      <mat-icon>info</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content">
  <form
    [formGroup]="form"
    (ngSubmit)="addTodo(); formDirective.resetForm()"
    #formDirective="ngForm"
  >
    <div
      fxLayout="row wrap"
      fxLayout.lt-sm="column wrap"
      fxLayoutGap="10px grid"
    >
      <mat-card fxFlex="50%" fxFlex.lt-sm="100%">
        <mat-card-header id="addTodoHeader">
          <div class="margin-top-10px margin-bottom-10px padding-left-10px">
            <mat-card-title *ngIf="!showUpdateButton">
              Add Todo
            </mat-card-title>
            <mat-card-title *ngIf="showUpdateButton">
              Edit Todo
            </mat-card-title>
          </div>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Task</mat-label>
            <input
              matInput
              formControlName="task"
              placeholder="Ex. Learn Programming"
            />
            <mat-error *ngIf="taskFormControl.hasError('required')">
              Task is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <div class="margin-bottom-10px">
            <mat-radio-group
              aria-label="Select a priority option"
              formControlName="priority"
              (change)="priorityChanged(picker)"
            >
              <mat-label>Priority: &nbsp; </mat-label>
              <mat-radio-button
                *ngFor="let p of priorities"
                value="{{ p }}"
                [style.color]="priorityColors.get(p)"
                aria-label="{{ p }} Priority"
              >
                {{ p | titlecase }} &nbsp;
              </mat-radio-button>
              <mat-error
                *ngIf="
                  priorityFormControl.hasError('required') &&
                  !taskFormControl.hasError('required') &&
                  taskFormControl.touched
                "
              >
                Priority is <strong>required</strong>
              </mat-error>
            </mat-radio-group>
          </div>
          <mat-form-field
            class="margin-bottom-15px full-width"
            appearance="fill"
          >
            <mat-label>Due Date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="dueDate"
              [min]="tomorrow"
              (dateChange)="taskFormControl.markAsTouched()"
            />
            <mat-datepicker-toggle matSuffix [for]="picker">
              <!-- https://angular.io/api/common/AsyncPipe -->
              <!-- show the modal touchUi calendar on handsets -->
              <mat-datepicker
                #picker
                disabled="false"
                [touchUi]="(isHandset$ | async) ? 'true' : 'false'"
              ></mat-datepicker>
            </mat-datepicker-toggle>
            <mat-error
              *ngIf="
                dueDateFormControl.hasError('matDatepickerMin') &&
                !dueDateFormControl.hasError('required')
              "
            >
              You can only pick due dates that are <strong>later</strong> than
              the current date
            </mat-error>
            <mat-error
              *ngIf="
                dueDateFormControl.hasError('required') &&
                !taskFormControl.hasError('required')
              "
            >
              Due date is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <div>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="form.invalid"
            >
              {{ showUpdateButton ? "Add as New Todo" : "Add" }}
            </button>
            &nbsp;
            <button
              *ngIf="showUpdateButton"
              mat-raised-button
              color="primary"
              type="button"
              (click)="updateTodo()"
              [disabled]="form.invalid"
            >
              Update
            </button>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card fxFlex="50%" fxFlex.lt-sm="100%">
        <mat-card-header>
          <div
            class="full-width"
            fxLayout="row wrap"
            fxLayoutAlign="space-between center"
          >
            <div
              class="margin-top-10px margin-bottom-10px padding-left-10px"
              fxFlex="20%"
              fxFlex.lt-sm="40%"
            >
              <mat-card-title>
                My{{ todoValues.length ? " " + todoValues.length : "" }} Todos
              </mat-card-title>
            </div>
            <div fxFlex>
              <div
                fxLayout="row wrap"
                fxLayoutGap="0"
                fxLayout.lt-sm="column wrap"
                fxLayoutGap.lt-sm="10px"
              >
                <div
                  fxFlex="50%"
                  fxFlex.lt-sm="100%"
                  fxLayoutAlign="end center"
                >
                  <mat-button-toggle-group
                    [(ngModel)]="priorityHide"
                    [ngModelOptions]="{ standalone: true }"
                    matTooltip="Hide Todos with Priorities"
                    matTooltipPosition="before"
                    aria-label="Hide Todos with Priorities"
                    multiple
                    (change)="hidePriorities()"
                  >
                    <mat-icon>visibility_off</mat-icon>
                    <mat-button-toggle
                      *ngFor="let p of priorities"
                      value="{{ p }}"
                      [style.color]="priorityColors.get(p)"
                      matTooltip="Hide {{ p | titlecase }} Priority"
                      aria-label="Hide {{ p | titlecase }} Priority"
                    >
                      {{ p | titlecase }}
                    </mat-button-toggle>
                  </mat-button-toggle-group>
                </div>
                <div
                  fxFlex="50%"
                  fxFlex.lt-sm="100%"
                  fxLayoutAlign="end center"
                >
                  <mat-button-toggle-group
                    [(ngModel)]="sortBy"
                    [ngModelOptions]="{ standalone: true }"
                    matTooltip="Sort Todos"
                    matTooltipPosition="before"
                    aria-label="Sort Todos"
                    (change)="sort()"
                  >
                    <mat-icon>sort</mat-icon>
                    <mat-button-toggle
                      value="priority"
                      matTooltip="Sort by Priority"
                      aria-label="Sort by Priority"
                    >
                      <mat-icon>priority_high</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle
                      value="due_date"
                      matTooltip="Sort by Due Date"
                      aria-label="Sort by Due Date"
                    >
                      <mat-icon>calendar_month</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle
                      value="alpha"
                      matTooltip="Sort Alphabetically"
                      aria-label="Sort Alphabetically"
                    >
                      <mat-icon>sort_by_alpha</mat-icon>
                    </mat-button-toggle>
                  </mat-button-toggle-group>
                  <mat-button-toggle-group
                    [(ngModel)]="sortDirection"
                    [ngModelOptions]="{ standalone: true }"
                    aria-label="Sort Direction"
                    (change)="toggleSortDirection()"
                  >
                    <mat-button-toggle
                      *ngIf="sortDirection == 'asc' || sortDirection == ''"
                      value="desc"
                      matTooltip="Sort Descending"
                      aria-label="Sort Descending"
                    >
                      <mat-icon>keyboard_arrow_up</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle
                      *ngIf="sortDirection == 'desc'"
                      value="asc"
                      matTooltip="Sort Ascending"
                      aria-label="Sort Ascending"
                    >
                      <mat-icon>keyboard_arrow_down</mat-icon>
                    </mat-button-toggle>
                  </mat-button-toggle-group>
                </div>
              </div>
            </div>
          </div>
        </mat-card-header>
        <mat-tab-group>
          <mat-tab *ngFor="let tab of dueDateRanges" aria-label="{{ tab }} Todos">
            <ng-template mat-tab-label>
              <mat-icon>av_timer</mat-icon>
              {{ tab | titlecase }}
            </ng-template>

            <mat-card
              class="todo"
              (mouseover)="t.showCardButtons = true"
              (mouseleave)="t.showCardButtons = false"
              *ngFor="let t of getDateRangeTodos(tab)"
            >
              <mat-card-title>
                <div fxLayout="row" fxLayoutAlign="space-between start">
                  <mat-checkbox
                    [checked]="t.completed ? t.completed : false"
                    (change)="markDone(t, $event.checked)"
                  >
                    <span [style]="getDoneStyle(t)">{{
                      t.task
                    }}</span></mat-checkbox
                  >
                </div>
              </mat-card-title>
              <div fxLayout="row" fxLayoutAlign="space-between end">
                <mat-card-subtitle [style]="getDoneStyle(t, true)"
                  >Priority: {{ t.priority | titlecase }}</mat-card-subtitle
                >
                <mat-card-subtitle [style]="getDoneStyle(t)">{{
                  t.dueDate | date
                }}</mat-card-subtitle>
              </div>
              <div
                *ngIf="t.showCardButtons"
                fxLayout="row"
                fxLayoutAlign="end"
                fxLayoutGap="5px"
              >
                <button
                  mat-icon-button
                  matTooltip="Edit this Todo"
                  aria-label="Edit this Todo"
                  type="button"
                  (click)="editTodo(t)"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  mat-icon-button
                  color="warn"
                  matTooltip="Delete this Todo"
                  aria-label="Delete this Todo"
                  type="button"
                  (click)="deleteTodo(t)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </mat-card>
          </mat-tab>

        </mat-tab-group>

        <h3 class="padding-left-10px" *ngIf="showHideAllWarning()">
          You have hidden all Todos.
        </h3>
        <h3 class="padding-left-10px" *ngIf="showHideWarning()">
          Some
          {{ getPrioritiesWithHiddenTodos().join(", ") | titlecase }} Priority
          Todos are hidden.
        </h3>
      </mat-card>
    </div>
  </form>
</div>
