<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Simple Todo App</span>
    <span class="spacer"></span>
    <button
      mat-icon-button
      aria-label="About this app"
      (click)="openAboutDialog()"
    >
      <mat-icon>info</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content">
  <form
    [formGroup]="form"
    (ngSubmit)="addTodo(); formDirective.resetForm()"
    #formDirective="ngForm"
  >
    <div
      fxLayout="row wrap"
      fxLayout.lt-sm="column wrap"
      fxLayoutGap="15px grid"
    >
      <mat-card fxFlex="50%" fxFlex.lt-sm="100%">
        <mat-card-header>
          <mat-card-title *ngIf="!showUpdateButton"> Add Todo </mat-card-title>
          <mat-card-title *ngIf="showUpdateButton"> Edit Todo </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Task</mat-label>
            <input
              matInput
              formControlName="task"
              placeholder="Ex. Learn Programming"
            />
            <mat-error *ngIf="taskFormControl.hasError('required')">
              Task is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <div class="margin-bottom-10px">
            <mat-radio-group
              aria-label="Select a priority option"
              formControlName="priority"
              (change)="picker.open()"
            >
              <mat-label>Priority: &nbsp; </mat-label>
              <mat-radio-button
                *ngFor="let p of priorities"
                value="{{ p }}"
                [style.color]="priorityColors.get(p)"
                ariaLabel="p"
              >
                {{ p | titlecase }} &nbsp;
              </mat-radio-button>
              <mat-error
                *ngIf="
                  priorityFormControl.hasError('required') &&
                  !taskFormControl.hasError('required') &&
                  taskFormControl.touched
                "
              >
                Priority is <strong>required</strong>
              </mat-error>
            </mat-radio-group>
          </div>
          <mat-form-field class="margin-bottom-15px" appearance="fill">
            <mat-label>Due Date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="dueDate"
              [min]="tomorrow"
              (dateChange)="taskFormControl.markAsTouched()"
            />
            <mat-datepicker-toggle matSuffix [for]="picker">
              <!-- https://angular.io/api/common/AsyncPipe -->
              <!-- show the modal touchUi calendar on handsets -->
              <mat-datepicker #picker disabled="false" [touchUi]="(isHandset | async)? 'true' : 'false'"></mat-datepicker>
            </mat-datepicker-toggle>
            <mat-error
              *ngIf="
                dueDateFormControl.hasError('matDatepickerMin') &&
                !dueDateFormControl.hasError('required')
              "
            >
              You can only pick due dates that are <strong>later</strong> than
              the current date
            </mat-error>
            <mat-error
              *ngIf="
                dueDateFormControl.hasError('required') &&
                !taskFormControl.hasError('required')
              "
            >
              Due date is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <div>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="form.invalid"
            >
              Add
            </button>
            <button
              *ngIf="showUpdateButton"
              mat-raised-button
              color="primary"
              type="button"
              (click)="updateTodo()"
              [disabled]="form.invalid"
            >
              Update
            </button>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card fxFlex="50%" fxFlex.lt-sm="100%">
        <mat-card-title>My Todo List</mat-card-title>

        <mat-card
          (mouseover)="t.showCardButtons = true"
          (mouseleave)="t.showCardButtons = false"
          *ngFor="let t of todoValues"
        >
          <mat-card-title>
            <div fxLayout="row" fxLayoutAlign="space-between start">
              <mat-checkbox
                [checked]="t.completed ? t.completed : false"
                (change)="markDone(t, $event.checked)"
              >
                <span [style]="getDoneStyle(t)">{{
                  t.task
                }}</span></mat-checkbox
              >
            </div>
          </mat-card-title>
          <div fxLayout="row" fxLayoutAlign="space-between end">
            <mat-card-subtitle [style]="getDoneStyle(t, true)"
              >Priority: {{ t.priority | titlecase }}</mat-card-subtitle
            >
            <mat-card-subtitle [style]="getDoneStyle(t)">{{
              t.dueDate | date
            }}</mat-card-subtitle>
          </div>
          <div
            *ngIf="t.showCardButtons"
            fxLayout="row"
            fxLayoutAlign="end"
            fxLayoutGap="5px"
          >
            <button
              mat-icon-button
              aria-label="Edit this Todo"
              type="button"
              (click)="edit(t)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              aria-label="Delete this Todo"
              type="button"
              (click)="delete(t)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-card>
      </mat-card>
    </div>
  </form>
</div>
